{% block content %}
<div class="container py-4">
  <h2 class="text-center mb-4">Create a New Habit</h2>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for tpl in templates %}
      <div class="col">
        <div class="card template-card text-center" data-template="{{ tpl.key }}">
          <div class="card-body">
            <i class="bi {{ tpl.icon }} display-4 mb-2"></i>
            <h5>{{ tpl.label }}</h5>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
