{% if info.type == "number" %}
  <input type="number" name="{{ field_name }}" class="form-control" placeholder="Enter number...">
{% elif info.type == "time" %}
  <input type="time" name="{{ field_name }}" class="form-control">
{% elif info.type == "date" %}
  <input type="date" name="{{ field_name }}" class="form-control">
{% elif info.type == "yesno" %}
  <select name="{{ field_name }}" class="form-select">
    <option value="">Select Yes/No</option>
    <option value="yes">Yes</option>
    <option value="no">No</option>
  </select>
{% else %}
  <input type="text" name="{{ field_name }}" class="form-control" placeholder="Enter text...">
{% endif %}
