{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container py-4" style="max-width: 1000px;">
  <div class="text-center mb-4">
    <h2 class="fw-bold dark:text-white">Track Habit: <span class="text-primary">{{ habit.name }}</span></h2>
  </div>

  {% if messages %}
    <div class="alert-container position-fixed top-0 start-50 translate-middle-x mt-4" style="z-index: 1080;">
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show shadow border-0 rounded-3 px-4 py-3 d-flex align-items-center gap-2 text-sm" role="alert">
            <i class="bi bi-check-circle-fill fs-5"></i>
            <span>{{ message }}</span>
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
  {% endif %}

  {% include 'utils/habit_badge_highlights.html' %}

  <div class="row g-3">
    {% include 'utils/habit_summary_header.html' %}

    <div class="col-md-6">
      <div class="card h-100 p-3">
        <div class="d-flex align-items-center mb-2">
          <i class="bi bi-graph-up-arrow text-info fs-4 me-2"></i>
          <h5 class="fw-semibold mb-0 dark:text-white">Insights</h5>
        </div>

        {% if not numeric_fields %}
          <div class="text-muted text-center dark:text-white">No numeric insights to display yet.</div>
        {% endif %}

        <div class="chart-wrapper">
          <canvas id="habitChart"></canvas>

          <script id="chart-data" type="application/json">
            {{ chart_data|safe }}
          </script>
          <script id="chart-fields" type="application/json">
            {{ numeric_fields|safe }}
          </script>
          <script id="chart-method" type="application/json">
            "{{ habit.insights_method }}"
          </script>
        </div>

        <small class="text-muted d-block mt-2 dark:text-white">
          Committed Days: <strong>{{ committed_days }}</strong> | Days Left: <strong>{{ days_remaining }}</strong>
        </small>
        <a href="#" class="stretched-link" data-bs-toggle="modal" data-bs-target="#insightModal"></a>
      </div>
    </div>

    {% include 'utils/habit_edit_forms.html' %}
  </div>
  {% with key=habit.template_key|default:"custom" %}
    {% include "track_habits/insights/"|add:key|add:".html" %}
  {% endwith %}

</div>

{% block extra_body %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script id="chart-data" type="application/json">{{ chart_data|safe }}</script>
<script id="chart-fields" type="application/json">{{ numeric_fields|safe }}</script>
<script id="chart-method" type="application/json">"{{ insights_method }}"</script>

<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/insights/'|add:habit.template_key|default:'custom'|add:'.js' %}"></script>
{% endblock %}

{% endblock %}
