{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <h2 class="mb-4">Track Habit: {{ habit.name }}</h2>
    <ul class="list-group">
      <li class="list-group-item">View Streaks</li>
      <li class="list-group-item">View Points</li>
      <li class="list-group-item">Upcoming Challenges</li>
      <li class="list-group-item">View Insights</li>
      <li class="list-group-item">Update Reminders</li>
      <li class="list-group-item">Update Goal</li>
    </ul>
    <p class="mt-3">
      (These are placeholders; implement your logic for each sub-flow.)
    </p>
  </div>
</div>
{% endblock %}
